/* src/components/FontSelector.css */
.font-selector {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .font-selector label {
    margin-right: 10px;
    width: 200px;
    color: #FFFFFF;
  }
  
  .font-selector select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3F72F5;
    background-color: #FFFFFF;
    color: #1F2428;
    cursor: pointer;
  }
  