/* src/components/LauncherSettings.css */

.launcher-settings {
  display: flex;
  flex-direction: column;
}

.launcher-settings h3 {
  margin-bottom: 10px;
}

.launcher-settings-input {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.launcher-settings-input label {
  margin-bottom: 5px;
  font-weight: bold;
}

.launcher-settings-input input {
  padding: 5px;
  font-size: 16px;
}
