/* src/components/MessageStylePicker.css */
.message-style-picker h3,
.message-style-picker h4 {
  margin-top: 10px;
  color: #FFFFFF;
}

.message-style-picker .color-picker {
  margin-bottom: 10px;
}
